/* Daniel Varjaskéri  Szoft I-2 E 2023.03.09. */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



table,
td{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    width: 8rem;
    text-align: center;
}