/* Daniel Varjaskéri  Szoft I-2 E 2023.03.09. */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 0 2rem;
    
   
}

header h1 {
    font-size: 1.3rem;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
   
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

main{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/gepida1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: purple;
    background-blend-mode: multiply;
    border-radius: 20px;
}

table,
td{
    border: 1px solid white;
    border-collapse: collapse;
    color: whitesmoke;
}

td{
    width: 8rem;
    text-align: center;
    padding: 0.5rem;
    text-shadow: 0px 0px 6px whitesmoke;
}

footer{
    text-align: center;
    font-size: 0.9rem;
    padding: 0.5rem 0;
    font-style: italic;
}

